[2013-08-05 09:53] fraserxu opened #1 "Obj as attributes"
Hi @pc035860 , I'm also trying to use highlightjs in my angularjs app. I've check your code. But seems that it doesn't accept an `object` as attribute.

So I'm wondering if I can add this:

[code]

And then I can use it like this:

[code]

It works fine but has the following issues:
1. If the object is very big, then it may cost a lot of memory of the browser(highest to 98 MB/sec on my machine);
2

[2013-08-06 09:59] #1 closed, assigned to nobody

[2013-08-06 10:01] pc035860 opened #3 "bower package registration"
http://bower.io/

Go bower go!!

[2013-08-06 21:06] #3 closed, assigned to pc035860

[2013-09-17 19:06] mike-spainhower opened #4 "bower.json needs a version"
The version property is missing from bower.json :smiley_cat:

[2013-09-18 07:28] #4 closed, assigned to nobody

[2013-10-17 19:40] benjaminEwhite opened #5 "Feature Request: Angular Highlight JS Should Handle Escaping HTML"
It seems to me this directive should handle escaping html tags within the hljs directive tag.

Right now, if I wanted my hljs directive to yield:

[code]

I have to do the escaping myself, like so:

[code]

Ideally, I should be able to just do:

[code]

The directive itself should handle the escaping.

[2014-01-15 14:32] XavRsl opened #6 "Highlight generated HTML"
Hello !
Sorry for taking some of your time. I'm stuck and can't figure out how succeed without your help...
Here's a preview of what I have working on plunker :
http://plnkr.co/edit/LxPoMzWitQ50KGvRQBez?p=preview

I've made several attempts to make angular-highlight display the code of the HTML generated and not the code of the template file. Unfortunately, I can't figure out how. Would you have a

[2014-01-16 03:12] #6 closed, assigned to nobody

[2014-02-04 22:47] JoshRosen opened #8 "<code> tag in template should have 'hljs' CSS class"
The `<code>` tag in the `<pre><code></code></pre>` template should have the `hljs` class in order for highlightjs themes to be able to set the background color (see the [Solarized Dark theme](http://highlightjs.org/static/test.html), for example).

This is a pretty simple fix; just replace

[code]

with

[code]

[2014-02-05 04:03] #8 closed, assigned to nobody

[2014-02-06 10:56] remcohaszing opened #9 "First newline is ignored"
The first newline of an included template is ignored.

The following template:

[code]

is rendered as

[code]

A workaround for this bug is to add a newline to the top of the included template.

[2014-02-07 23:10] nlaplante opened #10 "preserve newlines"
Hi, thanks for this directive. I'm trying to highlight some formatted HTML which looks like this:

[code]

I want to keep the newlines between attributes for readability purposes.

But the result I get is this:

[code]

Is there a way to achieve what I want to do?

Thanks!

[2014-02-08 13:32] #10 closed, assigned to nobody

[2014-02-11 14:00] #9 closed, assigned to nobody

[2014-02-13 23:00] nlaplante opened #12 "Any angular way to configure highlightjs?"
Like tab width and all?

[2014-02-15 19:30] #12 closed, assigned to nobody

[2014-02-17 21:02] gigablox opened #14 "b.hljs.configure is not a function"
Not sure where it's coming from but it happened right after the 0.2.3 release.

[2014-02-18 02:16] #14 closed, assigned to nobody

[2014-02-25 22:05] CMCDragonkai opened #15 "Error when used with browserify"
I'm getting this error:

[code]

[2014-02-27 12:05] #15 closed, assigned to nobody

[2014-02-27 12:05] #5 closed, assigned to nobody

[2014-04-09 04:04] pc035860 opened #17 "Code tag should have language as class"
Inspired(?) by PR #16

Should have output HTML like

[code]

[2014-04-09 04:10] #17 closed, assigned to pc035860

[2014-04-10 14:54] ghost opened #18 "objectivec escaping issue"
Hello,

I have a problem with objectivec code and i can't figure it out why it doesn't work.

if i write this code: (taken from highlight.js website)

[code]

and it's translated to:

[code]

Did i miss something?

Thanks for the great work :)

[2014-04-10 21:09] #18 closed, assigned to nobody

[2014-05-02 05:10] pc035860 opened #21 "$compile `include` result"
Like `source` attribute in #19

[2014-05-02 05:12] pc035860 opened #22 "Make $compile function opt-out"
#19, #21

[2014-05-23 21:35] ganarajpr opened #24 "bower dependency on angular"
I think the bower.json does not reflect the modules dependency on angular. Should be easy to correct.

[2014-05-24 02:47] #24 closed, assigned to nobody

[2014-05-24 13:03] #21 closed, assigned to pc035860

[2014-05-24 13:03] #22 closed, assigned to nobody

[2014-06-12 09:21] hollandben opened #26 "Demo's and library isn't working - TypeError: Cannot read property 'configure' of undefined"
The [demo page](http://pc035860.github.io/angular-highlightjs/example/) is no longer working. The error in the console reads:

`TypeError: Cannot read property 'configure' of undefined`

![image](https://cloud.githubusercontent.com/assets/1148714/3256094/684da078-f213-11e3-8395-9da22999043e.png)

[2014-07-20 09:25] whisher opened #27 "Show a html page"
Hi,
sorry to bother you.
Is there a way to use your nice module with
a html page ?

like:

[code]

now if I do

[code]

I get

[code]

:(

[2014-07-20 11:48] #27 closed, assigned to nobody

[2014-07-23 22:03] stereokai opened #28 "Problem with dependencies"
This is a great directive, however, I have a couple of issues with dependencies:

1. First of all, the [components/highlightjs](https://github.com/components/highlightjs) repo is not the official highlight.js repository; in fact, there is no official bower package for highlight.js. Moreover, it is not being maintained, having lacked updates for 6 months.
2. Why do you add angular.js as a dependenc

[2014-07-28 12:17] pasine opened #29 "Highlight javascript code"
I am using angular-highlightjs to highlight some code stored in a JSON.

[code]

It works fine for html code, but if I have javascript, I get an error saying I cannot have javascript code there.

[code]

Am I missing something?

[2014-07-28 13:41] #29 closed, assigned to nobody

[2014-09-29 04:14] isteven opened #30 "Prevent adding empty parameters to attribute"
Somehow the hljs directive adds empty parameters to attributes.

Let's say I have this directive declaration:

[code]

After applying your hljs directive, it becomes:

[code]

Can you help to fix this? Thanks.

[2014-09-29 04:25] #30 closed, assigned to nobody

[2014-10-30 10:26] zyadsherif opened #32 "$scope variables binding"
I'm trying to bind a value in my $scope to the code that is included (I have a bunch of color selectors and I'm generating code for these colors). This works well only when the view is initialized. However, any other changes to the $scope.colors object does not change anything in the source code.

Any idea why this is happening?

[2014-10-31 13:27] kumarharsh opened #33 "Double escaping for HTML entities in the directive"
If the source has an ampersand, this directive seems to be escaping the `&` to `&amp;`, thus the the webpage is never able to render `&`. It's always rendered as `&amp;`

[code]

Rendered as :

[code]

Look here at the plunker: http://plnkr.co/edit/OPitPJor4gbGpxKsmrJN?p=preview

[2014-11-02 06:55] #33 closed, assigned to nobody

[2014-11-23 23:04] TheEvilDev opened #34 "Directive should apply highlights to child pre/code tags"
Hey,

Maybe there's a way to get it to do this already, but it would be great if I could tell this to apply the highlight only to the nested code/pre tags.

For example, I have a section that pulls in a blog post dynamically:

[code]

[2015-01-04 20:32] jugglingcats opened #35 "Problem using compile="true" and language attribute/directive"
It seems that adding language attribute affects the compilation feature. I'm finding that the compile behaviour is a bit unpredictable - sometimes it works, sometimes not. But here is a plunkr based on the JSON pretty print example modified to show this issue.

http://plnkr.co/edit/2toXC6bCDpYNR8JPSTgD?p=preview

Notice that the expression {{editObject}} inside the last div is not being compiled.

[2015-01-08 22:17] andrewboni opened #36 "Conflict with Olark due to language attribute"
Hi, we use [Olark](http://olark.com/) on our site in order to chat with users. Seems that Olark injects the following code:

[code]

Angular highlightjs is also looking for this `language=` directive, which causes a conflict:
[code]
[code]

Any thoughts on how to properly resolve this? Thanks!

[2015-01-09 14:23] stormbytes commented on #36
I came across a similar issue using 'source' attribute on an unrelated DOM element. I was baffled by the hljs error:

[code]

The directives need to have less ambiguous naming so as not to conflict with common attributes. A designated prefix would likely be a good solution. Let me know if you want help with this and I'll fork the repo.

[2015-01-09 14:24] stormbytes commented on #36
FY: until this is resolved, avoid using element-attributes:

'include'
'source'
'language'

[2015-01-09 21:37] pdeva opened #37 "publish to cdnjs"
please publish this to cdnjs so we can use this lib directly off a cdn instead of needing to use bower

[2015-01-09 22:57] jugglingcats commented on #35
Think I've figured out why this is happening (maybe). If in the plunkr you change the lang to "http" and then inspect element it's a bit more obvious. What we get is:

[code]

As you can see, the AngularJS inline expression is broken up by the highlighting markup and this seems to happen before the compile step, so it's not interpreted.

What is a bit odd is that if lang="json", the inline express

[2015-01-09 23:20] jugglingcats commented on #35
Another update. I found this link http://stackoverflow.com/questions/25581560/dynamic-syntax-highlighting-with-angularjs-and-highlight-js, and a slightly modified version of their directive (in the accepted answer) did the trick for me -- my use case is very simple.

[2015-01-11 09:05] pc035860 commented on #35
Hi @jugglingcats , thanks for the reporting!
I'm aware that the `compile` feature does have some issues. And I'm considering to rename the `compile` to `interpolate`, and that's what I really mean when implementing the feature.

The stackoverflow link is very helpful, thanks again.

[2015-01-11 10:15] pc035860 commented on #36
Hi @stormbytes

The issue can be easily resolved through setting the `hljs` controller requirement to be optional in those directives. But I'm also considering prefixing directive names with `hljs-`.

Do you think I should rename **all** related directive/attribute names or just directive names?

#### directive names
- language
- source
- include

#### attributes
- compile
- escape
- no-escape
- o

[2015-01-11 10:33] pc035860 commented on #36
Hey @andrewboni , **v0.3.3** should work without errors now.

[2015-01-13 00:16] andrewboni commented on #36
Great- taking a look now.

[2015-01-13 00:16] stormbytes commented on #36
Def a better idea to prefix attr-names

[2015-01-13 00:43] andrewboni commented on #36
@pc035860 seems to be working- thanks for the fast resolution! Will let you know if I encounter anything else.

[2015-01-13 00:56] andrewboni commented on #36
+1 agreed

On Mon, Jan 12, 2015 at 4:16 PM, Daniel Balfour <notifications@github.com>
wrote:

[2015-01-24 18:22] kentcdodds opened #38 "Publish to npm"
Would love to have this on npm so I can npm install it. :-)

![screen shot 2015-01-24 at 11 21 16 am](https://cloud.githubusercontent.com/assets/1500684/5888415/28f209c8-a3bb-11e4-91f4-dcddee20b985.png)

[2015-01-26 03:59] pc035860 commented on #38
It would be great to be able to install with npm, under the condition that I've add support for [browserify](http://browserify.org/), which works really well with `npm install` in my opinion.
Gonna look into it in couple of days. Thanks for the advice!

[2015-02-03 09:22] pc035860 opened #39 "Browserify support"
Add support for [browserify](http://browserify.org) before publishing to npm.

[2015-02-03 09:48] #39 closed

[2015-02-03 09:49] pc035860 commented on #38
Published!!! After finishing #39

[2015-02-03 09:49] #38 closed

[2015-02-03 09:50] kentcdodds commented on #39
Huzzah! Thanks! :-)

[2015-02-13 15:28] alexsomeoddpilot commented on #26
I'm having the same issue while using the library in my code.

The issue is coming from [this line](https://github.com/pc035860/angular-highlightjs/blob/master/angular-highlightjs.js#L44) which expects <var>hljs</var> to exist as a property on <var>window</var>, but the property is not set.

[2015-02-13 15:37] alexsomeoddpilot commented on #26
I've determined the real cause is that I wasn't including the original highlightjs library.

Additionally, I'm using Browserify and expected this library to be pulled in automatically.

I'm working on a pull request which will solve for this.

[2015-02-19 16:59] raphael22 opened #40 "Binding Expression Error"
Hi,

i'm got some issue trying to parse this :

``` "{{model_1 || 'MODEL_1'}}", "{{model_2 || 'MODEL_2' }}", "{{model_3 || 'MODEL_3' }}" ```

as soon as I trying to evaluate ```{{model_3 || 'MODEL_3'}}``` highlighting is broke.

It's seems to only bug after 3 expression in a row.

any ideas ?
thanks in advance.

[2015-03-04 04:34] martinvelez opened #41 "Request: Line numbers"
How can you display line numbers?

[2015-03-04 04:43] pc035860 commented on #41
Code highlighting of this module depends on [highlight.js](https://github.com/isagalaev/highlight.js).
And it seems that line numbers won't be added until they change their mind.

Please read:
http://highlightjs.readthedocs.org/en/latest/line-numbers.html

[2015-03-04 17:30] martinvelez commented on #41
Fair enough.

[2015-03-04 17:30] #41 closed

[2015-03-23 05:01] janryWang opened #42 "How to beautify code？"

[2015-03-23 05:07] pc035860 commented on #42
Hi @janryWang ,

Highlight.js has no beautifying ability, hence it's also not presented in `angular-highlightjs`.

[2015-03-23 05:50] janryWang commented on #42
@pc035860 Okay,thanks

[2015-05-10 19:52] danielrob opened #43 "Is there a way to prevent word wrapping?"
I've tried doing such things as

div[hljs] {
  overflow: auto;
  word-wrap: none;
  white-space: pre;
}

but I can't force hljs to not word-wrap the contents of the div (I want horizontal scrollbars like you have on the readme displayed in github) any ideas?

Thanks!

[2015-05-11 09:45] pc035860 commented on #43
Hi @danielrob

All you need is adding

[code]

The `hljs` class is added on `<code>` element by default with highlightjs

[2015-05-11 09:48] pc035860 commented on #43
I've added it to one of the demo plunk, here's the result
http://plnkr.co/edit/aTEFBl?p=preview

[2015-05-12 02:55] danielrob commented on #43
@pc035860 Thanks so much for this - works perfectly.

[2015-05-12 02:55] #43 closed

[2015-05-21 07:32] juliusakula opened #44 "ngmodules.org - include 'npm install angular-highlightjs'"
[The ngmodules page](http://ngmodules.org/modules/angular-highlightjs), The Getting Started section, I think should contain:

I didn't read anywhere that this would install the directive, so I pretty much guessed and confirmed it was the same (it works). Just a suggestion for the ngmodules page which advertises this git repo and is the first google hit

Also, since this is such a short github issu

[2015-05-21 07:43] #44 closed

[2015-05-21 07:44] pc035860 commented on #44
Hey thanks @juliusakula !
The npm support was released on v0.4.0, and I forgot to add it to README.

[2015-05-21 07:58] pc035860 commented on #44
BTW, I also updated the page on ngmodules, hope that would help people better understand the module.
It's so terrible that ngmodules' page doesn't support git-flavored markdown. :weary:

[2015-05-21 08:10] juliusakula commented on #44
as an aside, I couldn't get angular-highlightjs to work with angular-md. my project is also open source so I can convienently link to the revelant files - so, quick question with context, if you look at my[src/views/hompage.tpl.hmtl](https://github.com/juliusakula/editor/blob/master/src/views/homepage.tpl.html) you can see the rendered markdown is pretty much:

<md ng-model="text"></md>

Is there

[2015-05-21 08:16] pc035860 commented on #44
It's like

[code]

I guess ?

[2015-06-01 13:32] cassc opened #45 "Problem with .nohightlight class"
`<div class="col-lg-8" hljs language="java" source="s.content.taggedSource"></div>`
For the above html code, my `{{s.content.taggedSource}}` contains `<a href='#lntarget' class='nohighlight'>linkfrom</a>`, I'd expect an html link to created, however I get the raw text.

[2015-07-22 06:40] stickel commented on #26
This error happens when I use the npm modules for both `highlight.js` and `angular-highlightjs` along with webpack. Using `require('highlight.js');` to load the highlightjs library creates the `TypeError: Cannot read property 'configure' of undefined` error. When I add a `script` tag and load highlightjs from the CDN there are no errors and all works well. Is there a way to fix the error using `re

[2015-07-24 01:36] pc035860 commented on #26
Will work on it this weekend. Thanks for the information!

[2015-07-25 07:34] pc035860 commented on #26
@stickel I just updated the module pattern to UMD. It's on `master` branch now. If it works for you, I'll make a release ASAP!

[2015-07-25 07:38] #28 closed

[2015-07-25 07:38] #32 closed

[2015-07-25 07:38] #42 closed

[2015-07-25 08:08] pc035860 commented on #45
According to https://highlightjs.org/usage/
I think the `nohighlight` class is just to prevent the auto-detected HTML strcture

[code]

from being highlighted, rather than providing a partially disabling highlight feature?

[2015-07-25 21:56] stickel commented on #26
@pc035860 Close. As it is in `master` I was getting an error that the module `hljs` couldn't be found. Updating this conditional in `./build/angular-highlight.js`:
[code]
to this:
[code]
Everything started working with webpack. Not sure if/how it'll affect other build tools though.

I posted a few other files for the test app I was using in [this gist](https://gist.github.com/stickel/32ba52c44582d

[2015-07-26 08:58] pc035860 commented on #37
Thanks, It's now on cdnjs! https://cdnjs.com/libraries/angular-highlightjs

[2015-07-26 08:58] #37 closed

[2015-07-26 16:37] pc035860 commented on #26
It seems that webpack's `babel-loader` will try to resovle modules with every possible pattern (rather than just CommonJS), hence causing

[code]

being looked up in your installed npm modules, where it can't find `hljs`-named module and caused the error.

I've updated the module name to sync with the CommonJS one. And It should be fine on `master` now.

[2015-07-26 17:52] stickel commented on #26
@pc035860 Downloaded and tested the files from `master` and it's working great. :+1:

[2015-07-27 18:11] pc035860 commented on #26
Just released [v0.4.3](https://github.com/pc035860/angular-highlightjs/releases/tag/v0.4.3). Thanks!

[2015-07-27 18:11] #26 closed

[2015-07-27 22:44] shekharkhedekar commented on #26
@pc035860 I still see this with v0.4.3 (and angular 1.3.17)

```TypeError: Cannot read property 'configure' of undefined at Object.ngModule.provider.$get (VM1394 angular-highlightjs.js:47)```

[2015-07-27 23:10] shekharkhedekar commented on #26
Actually - I missed the removal of the highlight.js dependency. Looks like we need to include that separately (using bower for this)

[2015-07-28 01:15] pc035860 commented on #26
There's actually no official bower package of highlight.js now ([see here](https://github.com/isagalaev/highlight.js/issues/182#issuecomment-29251147)).
But there's an official npm package, you can just `npm install highlight.js --save` for it.

Since you're using webpack, this should work for you.

I'm still wondering whether to add `angular` and `highlight.js` dependencies to `package.json` or n

[2015-07-28 23:14] stickel commented on #26
@pc035860 Have you updated the `npm` package with the newest version? When I try installing `0.4.3` npm can't find that version.

[2015-07-29 12:10] pc035860 commented on #26
@stickel I forgot to publish the new version to npm... And I'm having some trouble publishing it at home. Will try to publish it tomorrow at work!

[2015-07-30 08:37] pc035860 commented on #26
v0.4.3 published on npm now. Sorry for the delay!
https://www.npmjs.com/package/angular-highlightjs

[2015-07-30 16:30] stickel commented on #26
![yup](http://bukk.it/thischecksout.gif)

[2015-08-10 19:01] divyakumarjain opened #47 ".js suffix for highlightjs dependency"
I am trying to use angular-highlightjs with requirejs. because of dependency on "highlight.js" (notice th .js suffix) require tries to load highlightjs from application base path. Following extract from requirejs api

RequireJS also assumes by default that all dependencies are scripts, so it does not expect to see a trailing ".js" suffix on module IDs. RequireJS will automatically add it when tran

[2015-08-11 03:57] pc035860 commented on #47
Hi @divyakumarjain

I find that highlight.js is actually using different module names on `npm`(which is `highlight.js`) and as an AMD module(which is `hljs`).

I'll fix this ASAP. Thank you for your report.

[2015-08-11 04:01] pc035860 commented on #47
`npm` package name `highlight.js`
https://github.com/isagalaev/highlight.js/blob/master/package.json#L2

Built AMD module name `hljs`
https://github.com/isagalaev/highlight.js/blob/master/src/highlight.js#L19

[2015-08-12 14:53] pc035860 commented on #47
Hi @divyakumarjain, should be fixed now. It's on `master` now.

[2015-08-25 17:07] JonnyBGod commented on #35
Hi,

I am having this problem. I need to recompile every time a model is changed and this is not working. (not even compiling at startup)

Any plans to fix this behavior?

[2015-08-26 12:05] nayzawoo commented on #26
'bower_components/angular-highlightjs/build/angular-highlightjs.min',
    'js/highlight.min',

to

    'js/highlight.min',
    'bower_components/angular-highlightjs/build/angular-highlightjs.min',

[2015-09-06 09:55] pc035860 commented on #35
Hey @JonnyBGod ,

I've reviewed your PR. The real issue of `language` used with `compile` is that I didn't recompile the code after setting the language.

So I re-implement `compile` as a directive and avoid calling `.highlight()` too often with a debounce function. And I also fixed the issue reported by @jugglingcats that highlighted markup breaks angular expressions.

The code is now on `master`

[2015-09-17 08:10] balasivagnanam opened #49 "passing values for include from $scope variables not working"
Hi thanks for the awesome library, it is highly useful.

Currently I am facing an issue in rendering the code block.

In my case the code block that I want to render, is in separate file.
Also I want to make this configurable, this will be an input from JSON file. But when I use a scope variable as a paramater inside "include" it is not working.

[code]
check the plunker that I created for this.
h

[2015-09-17 08:45] pc035860 commented on #49
Hi @balasivagnanam ,

The `include` directive in `angular-highlightjs` as well as the built-in `ng-include` accept _angular expression_.

Simply put `fileName` in the `include` and it'll wok, since `fileName` it self is a valid angular expression whose eval result is `"file.html"` (_string_).

[code]

Here's the working plunk
http://plnkr.co/edit/BRY4MHZHM5BqLWKU0ibV

[2015-09-17 09:18] balasivagnanam commented on #49
that works. thanks a lot. I am new to angular, sorry about that stupid question.

[2015-09-17 09:18] #49 closed

[2015-10-02 18:35] pcnate opened #50 "auto detect over rides manually specified language using ngRepeat"
Using the following line:

    <div hljs="" source="'$project->set(\'parameter\', \'value\');'" language="php"></div>

I am expecting:

    <code class="hljs php"><span class="hljs-variable">$project</span>-&gt;set(<span class="hljs-string">"parameter"</span>, <span class="hljs-string">"value"</span>);</code>

Instead, I am getting:

    <code class="hljs bash php"><span class="hljs-variable">$pro

[2015-10-07 13:17] pc035860 commented on #50
Hi @pcnate ,

I can't reproduce the issue. Here's the plunk.
http://plnkr.co/edit/WNujp5wA4GMjIQ7BuPmZ?p=preview

Can you fork it and try to reproduce the issue?

[2015-10-07 13:50] pcnate commented on #50
It appears to be related to using ng-repeat="code in arrayOfCode"

    <div ng-repeat="code in phpCode track by $index">
      <div hljs="" source="code" language="php"></div>
    </div>

http://plnkr.co/edit/ekMJmrxWK9CpJtjhH3XK?p=preview

[2015-10-07 15:26] pc035860 commented on #50
OK, I'll look into it.

[2015-10-24 22:19] adaam2 opened #51 "Support custom initialization"
Apologies if this issue has been raised before, but I couldn't find it! The Highlight.js documentation ([here](https://highlightjs.org/usage/)) provides the below example for highlighting code that doesn't use `<code>` or `<pre>` tags:

[code]

How can we do this in angular-highlightjs?

[2015-10-25 10:34] pc035860 commented on #51
Hi @adaam2,

angular-highlightjs is just a set of directives, and the example you gave seems like you just need to call Highlight.js yourself. So I suggest that you can make your own directive with Highlight.js.

BTW, the Highlight.js is also available as an Angular service called `hljsService`.
https://github.com/pc035860/angular-highlightjs/blob/master/src/angular-highlightjs.js#L20

And you can

[2015-10-26 19:53] herrherrmann commented on #26
Last one did the trick for (loading `highlight.js` before `angular-highlightjs.js`) – super-important hint!

[2015-11-05 11:01] adaam2 commented on #51
HI @pc035860 Thanks for the info, will look into that.

[2015-11-05 11:01] #51 closed

[2015-11-06 11:08] cAhmad commented on #47
Hi,

I have the same issue while using ES2015 modules with jspm. It try to load highlight.js which does not exist.

[2015-11-07 05:29] pc035860 commented on #50
The fix for #35 actually also fixed the issue. Will release a new version later today.

[2015-11-07 07:37] #36 closed

[2015-11-07 07:57] #50 closed

[2015-11-07 07:58] pc035860 commented on #47
@cAhmad I just release v0.5.0, which should have fixed the issue.

[2015-11-07 07:58] #35 closed

[2015-11-08 03:17] vovafeldman opened #53 "Bower still at 0.4.3"
Can you please bump the bower version to 0.5?

[2015-11-08 03:43] pc035860 commented on #53
@vovafeldman Just updated the bower version and released v0.5.1
Thanks for your report! Closing the issue.

[2015-11-08 03:43] #53 closed

[2015-11-08 03:49] vovafeldman commented on #53
I've tried to run a package update and it didn't work, is there some delay till it propagates to the repo?

[2015-11-08 04:02] pc035860 commented on #53
Yeah, there might be some delay. And it seems updated now. Please try again.

If you still unable to update, may be you should update the version in your bower.json to allow it to install the version newer than 0.4.x.

http://stackoverflow.com/questions/19030170/what-is-the-bower-version-syntax

[2015-11-08 04:27] vovafeldman commented on #53
Cool. Btw - thanks for adding the `source` directive, found it very useful!

[2015-11-12 09:44] cAhmad commented on #47
Hi, thanks for your new release.

But, it tries now to load `hljs.js` file which does not exist.
Don't know if it helps but I'm working with `jspm`, the module to load in my case is `highlightjs`

[2015-11-12 11:24] pc035860 commented on #47
@cAhmad I haven't use `jspm` before, I'll take a look this weekend.

Though it's very weird that it tries to load `hljs.js` in this case (seems to have different behavior than webpack), it won't work even if it reads the correct module name, which is `highlight.js`, since the CommonJS pattern module name used in the `angular-highlightjs`'s UMD pattern is based on `highlight.js`'s npm package name,

[2015-11-18 16:09] #47 closed

[2015-11-18 16:51] cAhmad commented on #47
Thanks for your reply.

I will use the npm version instead of the gihub one. If I got time I'll try some overrides.

[2015-11-27 02:19] #45 closed

[2015-12-03 03:20] asnowwolf opened #54 "Add highlightjs to dependencies"
This package is dependent on highlightjs but not in bower.json's "dependencies" field.

[2015-12-17 01:39] realph opened #55 "Render Angular Expression Output"
Is it possible to render the output of an Angular expression? I'm trying to render an Angular object called `blob`, but when I put it inside a `<div>` with an attribute of `hljs`, it prints the curly-braced expression rather than the output of that expression.

**This:**

    <div hljs>{{ blob }}</div>

**Outputs this:**

    <div hljs>{{ blob }}</div>

**When it should output this:**

    "name":

[2015-12-17 07:49] pc035860 commented on #54
Hi @asnowwolf ,

Though the highlightjs dependency is actually removed in #28 , it seems so many people asking about this.
So I guess I'll just add it back this weekend. Thanks for the opinion.

[2015-12-17 07:56] pc035860 commented on #55
Hi @realph ,

I've modified the demo in the README a bit.
http://plnkr.co/edit/CdwxGQ?p=preview

Note that the `hljs-interpolate` makes the interpolation after highlighting, so it'll stay no-color.

[2015-12-17 16:43] realph commented on #55
@pc035860 This doesn't seem to work with `ng-repeat`.

[2015-12-17 16:44] pc035860 commented on #55
@realph Can you provide an example of using `ng-repeat` with it?

[2015-12-17 16:45] realph commented on #55
@pc035860 http://plnkr.co/edit/uIsX0hYmy981HUSopX0j?p=preview

[2015-12-17 18:56] pc035860 commented on #55
@realph The `editObject` in the original demo is a JSON string, so it won't work if your `item` is an object if you simply put them into `toPrettyJSON` method.

Here's a working version
http://plnkr.co/edit/EWMPcvGsa7wgIIfdocb4?p=preview

And I made a new example which does only what you're asking for
http://plnkr.co/edit/EWMPcvGsa7wgIIfdocb4

Check the examples about the usage of directives
http:

[2015-12-17 23:21] realph commented on #55
@pc035860 It doesn't format the JSON anymore though. Have a look here: http://plnkr.co/edit/ep4YMRR2VgHPKD621UBf?p=preview

[2015-12-18 03:24] pc035860 commented on #55
@realph The JSON formatting part is done using native browser `JSON` api.

So you can re-enable that simply feeding the number of spaces required as a parameter to the `$scope.toPrettyJSONFromObj` in html.

[code]

With JSON formatting
http://plnkr.co/edit/rD0ZNWW87isrWdDtnvsX?p=preview

Also check [JSON.stringify API on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global

[2015-12-18 12:50] realph commented on #55
@pc035860 Of course. I forgot to pass that parameter. Thanks for this!

[2015-12-18 12:50] #55 closed

[2015-12-30 21:39] Splact opened #56 "head and body html tags not showed"
When I set the language as HTML, any "html", "head" and "body" tags are not showed when parsed. Any tips?

[2016-01-03 01:58] pc035860 commented on #54
Well, I changed my mind after checking out on [the bower package's github repo](https://github.com/components/highlightjs).

It has one huge packed highlight.js with all languages included, and usually you'll only use one or two of them. This adds so much overhead to the network transfer and javascript parsing.

Size difference:

- [fully packed](https://raw.githubusercontent.com/components/highli

[2016-01-03 01:58] #54 closed

[2016-01-14 07:10] NetanelBasal opened #57 "Preserve br tags"
I have br tags in my string, and I want them to be a real br and not show them in the code, how can I do this?

[2016-01-15 02:16] pc035860 commented on #57
Hi, if you're using hljs-source for the highlighting, you can just
pragmatically remove replace those br tags with newline character I think.
Netanel <notifications@github.com>於 2016年1月14日 週四，下午3:10寫道：

[2016-01-15 02:17] pc035860 commented on #57
Before you through the source into hljs-source.
Chih-Hsuan Fan <pc035860@gmail.com>於 2016年1月15日 週五，上午10:16寫道：

[2016-01-15 05:28] #57 closed

[2016-01-27 08:19] sergey-morenets opened #58 "Incorrect language setup"
Hi

I'm using angular-highlightjs for my site and always specify language, for example, hljs-language="java".
However I often see incorrect language in the resulting HTML. Sometimes it's correct: [code class="hljs java"]. Sometimes [code class="hljs cs"] or [code class="hljs cpp"].
Please advise.

[2016-01-27 10:06] pc035860 commented on #58
Can you provide an example plunk to demonstrate the issue?

The `hljs-language` always works in [the example page](http://pc035860.github.io/angular-highlightjs/example/#/hljs-language). I guess the bug is caused by how you use it.

[2016-01-27 10:37] sergey-morenets commented on #58
Hi

Thank you for the response. As I mentioned most often language is configured correctly. You can look at this link. http://it-simulator.com/#/article/1/133

There are four code blocks there. First one has "java" class, other three blocks "coffeescript", "php" and "cs".

Thank you.

[2016-01-27 18:05] pc035860 commented on #58
Hi, I noticed that you're using angular-highlightjs 0.3.3, which is not the latest version (which is 0.5.1).
http://it-simulator.com/scripts/angular-highlightjs.min.js

Can you try to upgrade it to the latest version? There was a fix for the `hljs-language` in `ng-repeat` issue.

[See the releases & changelogs.](https://github.com/pc035860/angular-highlightjs/releases).

You can grab the latest bu

[2016-01-27 19:54] sergey-morenets commented on #58
Hi

Thank you the response. I tried to upgrade to 0.5.1 version but it didn't work for me. I got an error:

Error: b is undefined
.$get@http://it-simulator.com/scripts/angular-highlightjs.min.js:6:535

[2016-01-27 19:59] sergey-morenets commented on #58
0.5.0 version doesn't work as well.

Here is more descriptive error message:
Error: hljs is undefined
.$get@http://it-simulator.com/scripts/angular-highlightjs.js:47:8

[2016-01-27 20:04] sergey-morenets commented on #58
I finally got it working by moving highlight.min.js upper than angular-highlight.min.js in html file.
Thank you, you can close this issue.

[2016-01-27 20:04] #58 closed

[2016-01-28 04:01] pc035860 commented on #56
Hi, sorry for the late response.

You can't use pure `hljs` directive to highlight HTML code with special tags like `html`, `head`, `body`, since the content of `hljs` will be parsed by browser before AngularJS even get bootstrapped.

Use either `hljs-source` or `hljs-include` to ensure the code doesn't get parsed by browser.

[code]

[2016-02-02 15:41] alexgarces opened #59 "C++ "<" and ">" not rendering properly"
Hello,

I have this code snippet inside the directive:

[code]

It is rendered as an HTML tag, so at the end of the code it appears a weird closing tag:

`</cv::point>`

I tried with `&lt;` and `&gt;` and they still show as `&lt;` and `&gt;`. Also when I put just a `<` character, it renders like `&lt;`, even when there's no `hljs-no-escape` set at the directive.

It's funny because when working wi

[2016-02-02 19:13] pc035860 commented on #59
Hi @alexgarces ,

The weird closing tag is added by browser since the HTML inside `hljs` directive element will get parsed by the browser even before AngularJS bootraped.

I think the reason that the same issue doesn't happen on HTML codes is usually you'll have a well-formed HTML code inside `hljs`. And in the C++ case, `<cv::Point>` is a tag that browser doesn't recognize and there's no closing

[2016-02-03 16:48] chrisfay opened #60 "Stop adding ="" to valueless html attributes"
[See this discussion https://github.com/isagalaev/highlight.js/issues/1058]

How do I configure so that this:

<foo bar></foo>

...doesn't become this after it's ran through highlightjs:

<foo bar=""></foo>

![screen shot 2016-02-02 at 12 57 39 pm](https://cloud.githubusercontent.com/assets/131320/12789491/4b8ca35e-ca5b-11e5-9f6d-3495cf701beb.png)
![screen shot 2016-02-02 at 12 57 31 pm](https://c

[2016-02-03 18:26] pc035860 commented on #60
Hi, I guess you already got the answer from isagalaev/highlight.js/issues/1058.

What you actually need is preventing your `<foo bar></foo>` to be parsed by browser before AngularJS  gets it hands on it.

 [hljs source](http://pc035860.github.io/angular-highlightjs/example/#/hljs-source) or [hljs include](http://pc035860.github.io/angular-highlightjs/example/#/hljs-include)  can do the trick.

See

[2016-02-03 18:29] chrisfay commented on #60
Ahhh, gotcha. I think I was misunderstanding at what stage the attributes
were getting modified before rendering. This makes sense, thanks!

Chris

On Wed, Feb 3, 2016 at 11:26 AM Chih-Hsuan Fan <notifications@github.com>
wrote:

--
Chris Fay
http://www.chrisfay.net
chrislfay@gmail.com

[2016-02-03 18:32] pc035860 commented on #60
BTW, you can also prevent from browser parsing by manually escaping those code you put inside `hljs` directive, and [use it with `hljs-no-escape` option](https://github.com/pc035860/angular-highlightjs#hljs).

For example

[code]

[2016-02-21 12:57] alexgarces commented on #59
It worked! Thanks a lot.

[2016-03-10 19:15] ltegman opened #61 "Highlight.js should be a dep"
Using angular-highlightjs crashes without, so the `package.json` should list it as a dep.

[2016-03-10 21:35] #59 closed

[2016-03-11 03:53] pc035860 commented on #61
Yeah, and I might also add `angular` as a dependency as well.

[2016-03-20 06:17] pc035860 commented on #61
https://github.com/pc035860/angular-highlightjs/releases/tag/v0.6.0
New release with new npm dependencies published.

Closing the issue.

[2016-03-20 06:17] #61 closed

[2016-04-02 03:19] pc035860 opened #63 "`hljs-escape` and `hljs-no-escape` not working"
The old ones - `escape` and `no-escape` are still working.

[2016-04-02 05:13] #63 closed

[2016-04-02 18:30] mcadariu opened #64 "Marking specific subset of source code in addition to highlighting"
Hi,

Thanks for the really useful library, great work.

I'd like to ask for a little guidance to proceed, help appreciated.

How can I use angular-highlightjs to "mark" a subset of the source code lines with yellow background?

This JSFiddle shows what I mean, which works with highlight.js:
http://jsfiddle.net/tovic/059x3ygs/2/

Thanks,
Mircea

[2016-04-03 20:29] pc035860 commented on #64
Hi @mcadariu ,

It's not possible for current `angular-highlightjs`, the stream-merging feature can only be invoked by `hljs.highlightBlock()`, and `angular-highlightjs`'s implementation uses `hljs.highlight()`.

[2016-04-05 14:16] mcadariu commented on #64
Hi,

Clear, many thanks for the helpful clarification!

Greetings,
Mircea

[2016-04-05 14:16] #64 closed

[2016-05-18 08:23] khahux commented on #40
同问 - .-

[2016-05-23 07:14] guoyoujin opened #66 "introduce them"
I want to introduce this monokai_sublime.min.css them, ask how to do can be achieved

[2016-05-24 02:12] pc035860 commented on #66
@guoyoujin Just add the `monokai_sublime.min.css` in the `<header></header>`.

[code]

Updated JSON pretty print
http://plnkr.co/edit/MyDyv3?p=preview

[2016-06-07 11:46] GuillaumeUnice opened #67 "angular-highlightjs editable with binding"
Hi every,

I would like to be able to edit content for that I just add property :
`contentEditable="true"`

However, when there is no binding with the $scope so the content update it's not catch in $scope variable...

So it's possible to edit the the text with a data-binding?

Thanks for all

[2016-06-07 13:56] pc035860 commented on #67
Hi @GuillaumeUnice ,

Can you present a simple example of your current progress?

[2016-06-07 14:08] GuillaumeUnice commented on #67
Yes of course,

`<div hljs hljs-source="explorer.fileContent" contentEditable="true"></div>`

Currently I just make that but the variable scope"explorer.fileContent " it's not update when I change the content.
Because "hljs-source" it's one-way binding if I understand :D

[2016-06-07 14:12] pc035860 commented on #67
Have you tried UI.CodeMirror?
http://angular-ui.github.io/ui-codemirror/

It seems more suitable for you needs?

[2016-06-07 14:19] GuillaumeUnice commented on #67
The problem with this module we have to define the language use it's not automatically detect like your module highlightjs.

[2016-06-07 14:51] GuillaumeUnice commented on #67
Indeed it didn't work I have test but there is lot of problems like highlight format to be specified.

I think it's possible to change scope with watch in hljs?

[2016-06-11 15:10] eggboxio opened #68 "Change Bower "main" path to work with wiredep"
The current path of `"main": "./build/angular-highlightjs.js"` in the `bower.json` file doesn't work with the Angular Yeoman generator (by that I mean: a very popular generator), and the `wiredep` task in the Grunt file is unable to inject the js script into the `index.html` file.
Changing the path to `"main": "build/angular-highlightjs.js"` fixes this.

[2016-06-11 15:50] eggboxio commented on #68
Ignore me. Think I was running the tasks incorrectly.

[2016-06-11 15:50] #68 closed

[2016-06-14 00:40] TanyongTh commented on #26
@herrherrmann +1

[2016-06-23 13:46] Romick2005 opened #69 "Please add dependecy injection to src file"
Hi,

Can you please add injectors to src/angular-highlightjs.js file?

[2016-06-25 16:33] pc035860 commented on #69
Hi @Romick2005 ,

`src/angular-highlight.js` is not intended to be used in your code.
Maybe a non-UMD build will do?

`build/angular-highlight.non-umd.js`

[code]

[2016-07-05 11:29] isvaljek opened #70 "Electron App: Uncaught Error: Cannot find module 'angular'"
I'm having trouble loading this script in an Electron app. Angular app is working fine with the basic highlight.min.js script, but when I add your script after the angular.js script I get this:
[code]

[2016-07-05 14:17] pc035860 commented on #70
Hi @isvaljek ,

I'm not familiar with Electron.
The error seems related to `angular` module can not be found.
`angular` is a required dependency in the case that your module loader/bundler treats `angular-highlightjs` as an AMD/CommonJS module.

You'll have to somehow tell the bundler that your `angular` is in the global.

e.g. [browserify-shim](https://github.com/thlorenz/browserify-shim) for bro

[2016-07-06 14:21] isvaljek commented on #70
Thanks Chih-Hsuan, but I don't know that if Electron even has a module
loader. All the other angular scripts like material and ui-router are
loaded by script tag in the main index.html.

2016-07-05 16:17 GMT+02:00 Chih-Hsuan Fan <notifications@github.com>:

[2016-07-06 16:03] pc035860 commented on #70
It seems that the `<script></script>` environment provided in Electron app's `index.html` actually uses node-like module system (CommonJS).

I guess if you simply install `angular` with npm rather than bower will solve the issue.

After install `angular` via npm, change the angular script tag to something like:

[code]

or

[code]

[2016-07-10 07:44] isvaljek opened #71 "Comments added when <?php tags are included in the snippet"
This snippet:
<div hljs>
<?php
echo "<h2>PHP is Fun!</h2>";
echo "Hello world!<br>";
echo "I'm about to learn PHP!<br>";
echo "This ", "string ", "was ", "made ", "with multiple parameters.";
?>
</div>

results in this output:
![image](https://cloud.githubusercontent.com/assets/2500267/16712280/a5c7ecfe-4682-11e6-8bcf-05fcbb8a399d.png)

[2016-07-10 09:20] pc035860 commented on #71
The issue caused by `<` or `>` in HTML can be solved using `hljs-include`.
See here: https://github.com/pc035860/angular-highlightjs/issues/59#issuecomment-178765205

[2016-07-28 09:27] jlouazel opened #72 "Nested hljs"
Hi,

I was trying to make the following example works:

**index.html**

[code]

**answer.html**

[code]

We'll never know what's inside `right-question.html` because the result is like the following:

[code]

So my guess is that `angular-highlightjs` does not handle nested calls but maybe I'm missing something. What do you think about that?

Thanks

[2016-07-28 09:31] pc035860 commented on #72
Hi @jlouazel

Yes, `angular-highlightjs` doesn't support nested usage.
You'll have to find another way to achieve the effect you want.

[2016-07-31 07:20] isvaljek opened #73 "HLJS content rendered event"
I have a large dataset that binds to a view with ng-repeat. Is there an event that triggers when the updated dom with hljs js and css is done?
I need a height of the list so I can scrollTo bottom.

[2016-08-01 03:18] pc035860 commented on #73
Hi @isvaljek ,

There's actually an undocumented attribute `hljs-onhighlight` or `onhighlight`.
The expression in it will execute whenever the `hljs` directive __starts to highlight the content__.

If you want one for "after highlight", we'll have to add a new attribute like `hljs-onafterhighlight`.

[2016-08-01 03:19] pc035860 commented on #73
You can try `hljs-onhighlight` first, see if it solves your problem.

[2016-08-27 01:43] DavidZemon opened #75 "Allow use of <pre><code> tags instead of <div hljs>"
Can you please allow using the hljs directive inside a `<pre>` or `<code>` tag instead of requiring it inside `<div>`? When I do drop it in one of those, I get double boxes around my code in the rendered page.

[code]
![double_box](https://cloud.githubusercontent.com/assets/3068292/18024337/5600d1c0-6bcd-11e6-8703-b9ff5cf40cbb.png)

[code]
![div_only](https://cloud.githubusercontent.com/assets/306

[2016-08-27 03:05] pc035860 commented on #75
Hi @DavidZemon

Modify https://github.com/pc035860/angular-highlightjs/blob/master/src/angular-highlightjs.js#L276,  replace `hljsDir` with the following.

[code]

Rebuild the module with `grunt`. Now you can use it with `<pre><code></code></pre>`.

[code]

I'm not sure if specifying highlight language in `class` will work or not. If not, specify it with `hljs-language`.

[code]

[2016-08-27 03:38] DavidZemon commented on #75
Thank you so much, both for the edit and the quick response!

Personally, I think this should be default behavior so I would be happy to submit this as a merge request if you'd like. Otherwise, this ticket can be closed out. I'm happy :D

[2016-09-02 03:37] chaddjohnson opened #76 ""hljs-source" needs to be changed to "source" in the README"
Looking at the [live example](http://pc035860.github.io/angular-highlightjs/example/#/hljs-source), it looks like `hljs-source` does not work and `source` must be used instead. Here is what I ended up with which works:

[code]

If you'd like me to do this and submit a pull request, let me know.

[2016-09-02 08:26] grtjn opened #77 "Showing "loading" message"
I am using hljs-include to pull in code from back-end, which takes half a second. Enough for end-users to notice. I also noticed that hljs initially shows the contents of the directive before replacing it with the result from the include. So I added a _"loading.."_ message in there. Next thought was to add a spinner, something like:

[code]

Unfortunately, the i tag gets escaped, and shown as is.

[2016-09-02 13:48] pc035860 commented on #76
I think it's just a an example code mistake. Both `hljs-source` and `source` should work.

See this example
http://plnkr.co/edit/WCmBTQ?p=preview

You can submit a PR for the example code correction, thanks!

[2016-09-02 14:05] pc035860 commented on #77
`hljs-include` uses [$templateCache](https://docs.angularjs.org/api/ng/service/$templateCache) (same as `ng-include`) internally. Which means actually you can handle the code loading request your self, and you can write a new directive for displaying "loading" message.

[code]

[code]

[2016-09-02 18:48] grtjn commented on #77
Interesting, let me experiment with this..

[2016-09-02 19:18] grtjn commented on #77
I created this helper function, and pointed hljs to hljsUri:

[code]

I still notice a lag, though. It seems likes hljs needs time to process and paint the source? That would not be a surprise, but the loading message disappears once the cache is loaded, the background of hljs appears, though empty, and a few tenth of a second later, the source is shown. I guess that if this would be added as a fe

[2016-09-09 03:32] DavidZemon opened #78 "Some blank lines are deleted"
Raw hljs works as expected, but you'll notice one of the blank lines in the code block is removed when using angular-highlightjs

Raw: https://jsfiddle.net/a1vh98ws/1/
Angular: https://jsfiddle.net/Lasdvo33/1/

[2016-09-09 03:57] pc035860 commented on #78
It seems that Raw version uses highlight.js 9.6.0, and Angular version uses highlight.js 8.9.1 .
Sync there version will produce the same output.

Here's Angular version with highlight.js 9.6.0
https://jsfiddle.net/arp4a21t/

[2016-09-09 04:16] DavidZemon commented on #78
Maybe it's a browser difference? Still broken for me:
![broken](https://cloud.githubusercontent.com/assets/3068292/18375255/23e04138-761a-11e6-9d4d-b54ee60d862f.png)

I'm running Ubuntu 16.10 x64, Chrome 53.0.2785.101 (64-bit)

[2016-09-09 04:36] pc035860 commented on #78
I find this is actually a bug of angular-highlightjs. While trying to strip new lines from the head of the code, the regex doesn't work as expected.

https://github.com/pc035860/angular-highlightjs/blob/master/src/angular-highlightjs.js#L283

[code]

I'll get this fixed soon. Thanks for the report!

[2016-09-23 23:04] gala132 commented on #73
What is the status of this? It would be useful to have a complete event too, so we know when the content is rendered. Could it be possible @pc035860 ? Thanks.

[2016-09-23 23:07] gala132 commented on #77
Maybe the #73 issue would help your case too @grtjn ?

[2016-09-24 01:58] pc035860 commented on #73
@gala132 I think the on documented `hljs-onhighlight` may solve the issue. No response from @isvaljek yet. You can try it yourself.

[2016-10-24 03:12] ermu592275254 opened #79 "use require.js was Error"
when I use require.js  management of my js code，load the angular-highlight.js is failed, The error message: "GET  http://localhost:3000/js/hljs.js   404" but I did't create hljs.js file. and "require.js:166 Uncaught Error: Script error for: hljs"

I load highlight.js and angular.js  is succeed, console.log('hljs') can see something about it.

how i need  set  angular-highlight.js??

[2016-11-21 05:30] pc035860 commented on #79
Hi @ermu592275254

Sorry for the late response.

`highlight.js` originally have their AMD module defined as `hljs`. They've changed it to anonymous at https://github.com/isagalaev/highlight.js/commit/b4ea6460c91ca410bded7e4bdab346f4382c55b3.

You'll have to defined it yourself in order to use it with current `angular-highlightjs`.

See
https://github.com/isagalaev/highlight.js/issues/1288#issuecom

[2017-02-06 16:00] mkranjan opened #84 "TypeError: Cannot read property 'configure' of undefined"
Getting error at below portion of code inside get method
`/**
 * hljsService service
 */
ngModule.provider('hljsService', function () {
  var _hljsOptions = {};

  return {
    setOptions: function (options) {
      angular.extend(_hljsOptions, options);
    },
    getOptions: function () {
      return angular.copy(_hljsOptions);
    },
    $get: function () {
      **(hljs.configure** || angular

[2017-02-07 07:21] pc035860 commented on #84
Checkout the similar issue #59 happened in C++ code and how to solve it.

[2017-02-18 17:42] n4bb1 commented on #78
To find a new line at index 0, skip the `m` modifier:
`.replace(/^(\r\n|\r|\n)/, '')`

Or alternatively you could just trim whitespace at start/end.

Trim start:
`.replace(/^\s+/g, '')`

Trim start and end:
`.replace(/^\s+|\s+$/g, '')`

Would love if this gets fixed =)

[2017-02-19 08:47] pc035860 commented on #78
@n4bb1 Thanks for the advice. Just got it fixed and published a new version.

[2017-02-20 06:12] n4bb1 commented on #78
Thanks man.

I am also having the same issue with the inlcude-directive:
https://github.com/pc035860/angular-highlightjs/blob/master/src/angular-highlightjs.js#L467

[2017-02-28 09:06] #78 closed

[2017-05-27 17:06] aurelmegn opened #85 "There are a compatibility problem with highlight v 9"

[2017-07-20 23:15] ghost opened #86 "Less-than-sign displaying as &lt;"
This code...
[code]
...is displayed as...

[code]
Is there a way around this or is this a bug?
Plunker demo: https://plnkr.co/edit/RYkDoHgSwt5lyqBXFRvj

[2017-07-23 04:12] pc035860 commented on #86
Hi @JaredMathis

Use `hljs-include` and place your code in a separate file or script tag to prevent your code from parsing by browser.

For more information, see #59

[2017-07-25 10:41] ghost commented on #86
Thanks a lot @pc035860!!

[2017-07-25 10:41] #86 closed, assigned to nobody

[2017-09-21 03:47] caemasar commented on #79
Use highlight.js -->
$('pre code').each(function(i, block) {
	    hljs.highlightBlock(block);
});

[2017-09-27 21:09] relentless-coder opened #87 "Not working with dynamically pulled data"
Hi, I have been trying to make this work for a while now.

First of all, content is a blog post, and it is a mixed content. So there are a few `p` blocks, and then `pre code` blocks. I have manipulated the data and placed `hljs` directive to the `code` tag, but it isn't working for me.

[code]
and here is how I am using it

[code]
As i can see by inspecting my page that the `code` block contains t

[2017-09-28 04:25] a-birla opened #88 "dependency on highlight.js issue"
as this module has dependency on highlight.js, if I install highlight.js via npm and give the path of the js file created under node_modules and install angular-highlightjs via npm/bower, it does not highlight any content.
but if I use the cdn copy of highlight.js or build it locally myself, then it highlights content very well. What is the issue here?

[2017-09-28 05:04] pc035860 commented on #88
@a-birla Can you provide error messages for the `node_modules` setup?
Did it bundle `highlight.js` package correctly?

[2017-09-28 05:11] a-birla commented on #88
in the highlight.js package, I have one highlight.js file inside lib folder. If I reference that in my script, it does not apply any highlighting. There are errors when I try to use  <div hljs language="bash">

Uncaught Error: Unknown language: "bash"
    at Object.highlight (concat_vendor.js?t=1506575342991:494)
    at Object.j._highlight (concat_vendor.js?t=1506575342991:57380)
    at h (concat_

[2017-09-28 05:13] a-birla commented on #88
<img width="381" alt="screen shot 2017-09-27 at 10 12 17 pm" src="https://user-images.githubusercontent.com/12102775/30950331-14696fd2-a3d1-11e7-8806-22c15242484d.png">
 this is the folder structure

[2017-09-28 06:10] pc035860 commented on #88
@a-birla CDN version might already have languages registered. Looks like `npm` version has the languages registered in `libs/index.js`.

Usually you'll require `highlight.js` with

[code]

rather than `require('./path/to/node_modules/highlight.js/lib/highlight.js');`

[2017-09-28 07:38] a-birla commented on #88
So in the gulp task where we are concatenating all node modules js files, we give the path only for Index.js and not highlight.js?

[2017-09-28 08:46] pc035860 commented on #88
So you're using gulp to concatenate js files rather than bundlers like webpack, rollup etc?
Try `node_modules/highlight.js/lib/index.js` then.

[2017-09-28 09:56] pc035860 commented on #87
According your description, you're actually required to have `post.content` compiled by AngularJS again for directive (like `hljs`) to work.

[code]

[code]

Another options is to write a new directive specialized for displaying `post.content`'s HTML code, as well as adding code highlightling with `highlight.js`.

[code]

[code]
Here's a working demo on Plunker: http://plnkr.co/edit/ZfB4tamhQIOLx0

[2017-09-28 17:05] a-birla commented on #88
no that is not working either. If I only reference index.js, getting this error

Uncaught ReferenceError: require is not defined

[2017-09-29 03:09] relentless-coder commented on #87
Hi, for some weird reason. the directive highlighted the whole content, even though the part that's not code

[2017-09-29 04:54] pc035860 commented on #87
Try replacing the `highlightBlock` call on `<pre>` or `<code>` elements.

[code]

[2017-09-29 04:57] pc035860 commented on #88
It seems that the npm version still requires a build procress to work if you're not using a CommonJS compatible bundler.

I'd suggest just use the CDN version or integrate [the highlight.js build process](http://highlightjs.readthedocs.io/en/latest/building-testing.html) into your gulp task.

[2017-09-29 05:59] pc035860 commented on #87
I've update the plunk with `iElm.find('pre')[0]`, and it seems to work correctly now.

http://plnkr.co/edit/ZfB4tamhQIOLx0z9WUMH?p=preview

[2017-09-29 17:41] relentless-coder commented on #87
@pc035860 Hey, it still doesn't work. There was an issue from my end too. I write a post via TinyMCE editor, and when I write code with its inbuilt code tool, it adds an additional class to the `pre` tag.

I removed that in the following manner:
[code]
And then, it just styles the outer block. it isn't highlighting anything. So I inspected the element and found out that no language class has been

[2017-10-02 04:16] pc035860 commented on #87
Can you make a demo of your problem with plunker or something similar?
I can't figure out why it's not working with current available information.

[2017-10-02 14:02] relentless-coder commented on #87
@pc035860 Hey, so I made it work with a few tweaks, one of them really bizarre to me. First, I stored the post's content in a scope variable and passed that to the directive, like this

[code]
and then plugged that into the directive:

[code]
and it worked. I don't know why. The next issue was that it was only working for the first code block, so I changed it to this:

[code]
And this works, but I

[2017-11-26 11:38] thekingofcity commented on #26
@ghost   Still helpful. ):

[2017-12-17 09:12] hosseinjalili opened #89 "make editable and set on ngmodel"
hi
please add a feature that  can edit code and set edited value to ng-model.

regards

[2018-02-28 22:00] DaveOdden opened #90 "How to use with Webpack?"
I've installed this package via npm, added the variants of require statements I've seen in the issues, and added the module within my angular modules dependency list. Is that it? I get a console error that the package cannot be found. It looks like I should just have to include angular-highlightjs dependency and it'll pull in highlight.js. I may be missing something, but it'd be nice to have conci

[2018-03-02 08:44] pc035860 commented on #90
I haven't tried it with Webpack myself. But I think it would work by following the _browserify_ example.

https://github.com/pc035860/angular-highlightjs/blob/master/with-browserify/scripts/app.js

[code]

Since the UMD version of angular-highlightjs actually returns just a _module name_ string, this can be rewritten like this.

[code]

If you're still having issues, let me know.

[2018-03-07 01:51] jacobgranberry opened #91 "Cant figure out hljs-source"
Hey there - pretty new to angular and cant for the life of me figure out hljs-source.   I have a modal that pops up and renders code.  I need that rendered code to be highlighted.  I've tried everything but I feel like it should be simple!  I would appreciate any help!

[code]

[2018-03-07 04:32] pc035860 commented on #91
Try this

[code]

[2018-03-07 04:39] jacobgranberry commented on #91
holy crap that worked! thanks for the quick response, i really appreciate it!

[2018-03-26 08:18] anastasiagryshchenko opened #92 "yarn.lock with minimatch@0.x"
Installing this dependency via npm results in
<img width="887" alt="screen shot 2018-03-25 at 9 25 12 pm" src="https://user-images.githubusercontent.com/8438849/37894456-047d1a9e-30e7-11e8-90ad-edefa241367c.png">

do you think you could update yarn.lock to resolve this issue?

[2018-04-01 15:43] pc035860 commented on #92
Hi, do you have more detailed instruction on solving this?

I'm wondering if I should update the `devDependencies` in `package.json` or ?

[2019-06-20 08:47] chathurabuddi commented on #88
if you are using `highlight.js` npm repository, try changing it to `highlightjs` repository. Worked for me.
[code]

[2019-07-04 18:43] Amir-61 opened #93 "security issue with dependencies"
[code]

[2019-07-04 18:56] Amir-61 opened #94 "Command Injection vulnerability found in shelljs dependency"
High severity vulnerability found in shelljs
Description: Command Injection

From: angular-highlightjs@0.7.1 > highlight.js@9.15.5 > gear-lib@0.9.2 > jshint@2.5.11 > shelljs@0.3.0

Please see: https://github.com/shelljs/shelljs/issues/810 and https://github.com/shelljs/shelljs/pull/524#issuecomment-507152989

TLDR is:
There is no security fix on shelljs; they recommendation is If you do use shell.

[2019-07-05 03:50] pc035860 commented on #94
HI,  thanks for reporting the vulnerability.

Since its in the  _highlight.js_ dependency, and they seem already resolved it.
I think all you need to do is reinstall the package to upgrade the dependency.

Close the issue for now.

[2019-07-05 03:50] #94 closed, assigned to nobody

[2019-07-05 03:50] pc035860 commented on #93
See https://github.com/pc035860/angular-highlightjs/issues/94#issuecomment-508620432

Close for now.

[2019-07-05 03:50] #93 closed, assigned to nobody

[2019-07-05 14:59] Amir-61 commented on #94
Thanks. Yes I verified the issue got resolved; also commented: https://github.com/highlightjs/highlight.js/issues/2067#issuecomment-508785741

[2019-07-05 15:11] Amir-61 commented on #93
Thanks! I see the issue fixed in version highlight.js@9.15.8. Closing this issue now.

[2019-09-17 03:15] #91 closed, assigned to nobody

[2020-03-13 12:42] zedtux commented on #90
I tried your solution @pc035860 but it fails like that:

[code]

Do you have any idea what I shall do in order to fix that?

[2020-03-13 14:21] zedtux commented on #90
I got it working but I had to disable AMD using [the Webpack import-loader](https://github.com/webpack-contrib/imports-loader):

[code]